*{
    margin: 0%;
    padding: 0%;
}

fieldset.inicial{
    height: 752px;
    background-image: linear-gradient(to right, green, white);
    border: none;
}

fieldset.inicial h1{
    margin-top: 300px;
    margin-left: 200px;
    width: 620px;
    height: 30px;
    font-size: 50px;
}

fieldset.inicial h4{
    margin-top: 20px;
    margin-left: 300px;
    font-size: 18px;
    width: 300px;
    height: 0;
}


fieldset.inicial img{
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: 900px;
    cursor: pointer;
}



/*QUESTÕES*/
fieldset.pergunta-1{
    width: 500px;
    margin-top: 200px;
    height: 250px;
    margin-left: 100px;
    border: double;
    border-color: green;
}

fieldset.pergunta-1 h2{
    text-align: center;
}

fieldset.pergunta-1 img{
    width: 300px;
    margin-left: -70px;
    margin-top: 22px;
}

fieldset.caixa-perguntas-1{
    height: 100px;
    width: 340px;
    margin-left: 200px;
    margin-top: -130px;
    font-size: 18px;
    border: none;
}

fieldset.caixa-perguntas-1 input[type=radio]{
   margin-left: 10px;
   font-size: 15px; 
   cursor: pointer;
}

fieldset.caixa-perguntas-1 input[type=button]#botao{
  margin-left: 145px;
  margin-top: 10px;
  width: 85px;
  height: 25px;
  cursor: pointer;
}

fieldset.caixa-perguntas-1 input[type=button]#botao:hover{
    background-color:green;
    color: white;
    transition: all ease-in;
}

#res-1{
    margin-top: -35px;
    margin-left: 212px;
    width: 450px;
    height: 30px;
    font-size: 18px;
}


/*PERGUNTA 2*/
fieldset.pergunta-2{
    width: 650px;
    margin-top: -254px;
    height: 250px;
    margin-left: 800px;
    border: double;
    border-color: green;
}

fieldset.pergunta-2 h2{
    margin-left: 3px;
}

fieldset.pergunta-2 img{
    width: 150px;
    margin-left: 2px;
    margin-top: 3px;
}

fieldset.caixa-perguntas-2{
    height: 100px;
    width: 400px;
    margin-left: 180px;
    margin-top: -130px;
    font-size: 18px;
    border: none;
}

fieldset.caixa-perguntas-2 input[type=radio]{
    margin-left: 10px;
    font-size: 15px; 
    cursor: pointer;
}

fieldset.caixa-perguntas-2 input[type=button]#botao2{
    margin-left: 145px;
    margin-top: 10px;
    width: 85px;
    height: 25px;
    cursor: pointer;
}

fieldset.caixa-perguntas-2 input[type=button]#botao2:hover{
    background-color:green;
    color: white;
    transition: all ease-in;
}

#res-2{
    margin-top: -35px;
    margin-left: 195px;
    width: 450px;
    height: 30px;
    font-size: 18px;
}

/*pergunta 3*/
fieldset.pergunta-3{
    width: 663px;
    margin-top: 30px;
    height: 250px;
    margin-left: 100px;
    border: double;
    border-color: green;
}

fieldset.pergunta-3 h2{
    margin-left: 5px;
}

fieldset.pergunta-3 img{
    width: 300px;
    margin-left: -80px;
    margin-top: -5px;
}

fieldset.caixa-perguntas-3{
    height: 100px;
    width: 530px;
    margin-left: 130px;
    margin-top: -130px;
    font-size: 18px;
    border: none;
}

fieldset.caixa-perguntas-3 input[type=radio]{
    margin-left: 10px;
    font-size: 15px; 
    cursor: pointer;
}

fieldset.caixa-perguntas-3 input[type=button]#botao3{
    margin-left: 210px;
    margin-top: 10px;
    width: 85px;
    height: 25px;
    cursor: pointer;
}

fieldset.caixa-perguntas-3 input[type=button]#botao3:hover{
    background-color:green;
    color: white;
    transition: all ease-in;
}

#res-3{
    margin-top: -35px;
    margin-left: 145px;
    width: 500px;
    height: 30px;
    font-size: 18px;
}

/*pergunta 4*/
fieldset.pergunta-4{
    width: 651px;
    margin-top: -254px;
    height: 250px;
    margin-left: 800px;
    border: double;
    border-color: green;
}

fieldset.pergunta-4 h2{
   text-align: center;
}

fieldset.pergunta-4 img{
    width: 160px;
    margin-left: -33px;
    margin-top: 12px;
}

fieldset.caixa-perguntas-4{
    height: 100px;
    width: 530px;
    margin-left: 110px;
    margin-top: -140px;
    font-size: 18px;
    border: none;
}

fieldset.caixa-perguntas-4 input[type=radio]{
    margin-left: 10px;
    font-size: 15px; 
    cursor: pointer;
}

fieldset.caixa-perguntas-4 input[type=button]#botao4{
    margin-left: 210px;
    margin-top: 10px;
    width: 85px;
    height: 25px;
    cursor: pointer;
}

fieldset.caixa-perguntas-4 input[type=button]#botao4:hover{
    background-color:green;
    color: white;
    transition: all ease-in;
}

#res-4{
    margin-top: -60px;
    margin-left: 925px;
    width: 500px;
    height: 30px;
    font-size: 18px;
}





